<div class = "profile">
	<div style = "margin:auto;width: 60%;">
		<h1>Помощь</h1>

		На странице <%= link_to 'мероприятий', events_path %> перечислены все мероприятия.
		Вы можете просмотреть подробное описание мероприятий, кликнув на ссылку 'Подробнее'.<br/>

		<%= link_to 'Войдя', '/login' %> в систему, вы также сможете
		зарегистрировать на мероприятие свои команды.<br/>

		На странице <%= link_to 'команд', teams_path %> вы можете создать команду
		и добавить в неё других зарегистрированных пользователей. Пользователей
		из команды также можно удалять.<br/>

		На странице <%= link_to 'мероприятий', events_path %> для пользователей в системе
		на мероприятия, которые начинаются не раньше, чем послезавтра, доступна регистрация.<br/>

		Для регистрации на мероприятие вам предлагаются все подходящие для этого мероприятия команды
		(по количеству человек, по составу &mdash; школьники, студенты или смешанный, и только те,
		чьи участники ещё не зарегистрированы на это мероприятие через другие команды).<br/>
		
		Для мероприятий, которые рекомендуют наличие номера телефона или размера футболки,
		вы можете добавить эти данные в 
		<% if logged_in? %>
			<%= link_to 'свой профиль.', user_path(current_user) %>
		<% else %>
			свой профиль.
		<% end %>
	</div>
</div>
