<h1>Вход в систему</h1>

<div class = "profile contain">
 
	<%= form_for(:session, url: login_path) do |form| %>

		<%= form.label :email %>
		<%= form.email_field :email, class: 'form-control' %>
		
		<%= form.label :password %>
		<%= form.password_field :password, class: 'form-control' %>

		<%= form.submit "Войти", :class => 'btn btn-primary' %>
	<% end %>
</div>
		
<p>Нет аккаунта? <%= link_to "Создайте!", signup_path %></p>
		
