<h1>Вход в систему</h1>
 
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Войти" %>
    <% end %>
    
    <p>Нет аккаунта? <%= link_to "Создайте!", signup_path %></p>
    
