<%= javascript_include_tag('list.js') %>
<%= javascript_include_tag('searchAndSort.js') %>

<div id="filterrific_results">
	<table class='listing'>
		<tbody>
			<tr>
				<td>
					<input type="text" id="searchName" onkeyup="filterSearch()" placeholder="Имя">
				</td>
				<td>
					<input type="text" id="searchSchool" onkeyup="filterSearch()" placeholder="Учебное заведение">
				</td>
				<td>
					<input type="text" id="searchGroup" onkeyup="filterSearch()" placeholder="Класс/группа">
				</td>
				<td>
					<input type="text" id="searchMin" onkeyup="filterSearch()" placeholder="min"> &mdash; <input type="text" id="searchMax" onkeyup="filterSearch()" placeholder="max">
				</td>
			</tr>
		</tbody>
	</table>
	
	<table class='listing'>
		<thead>
			<tr class="sorting-header">
				<th onclick="sortTable(0)">Имя</th>
				<th onclick="sortTable(1)">Учебное заведение</th>
				<th onclick="sortTable(2)">Класс/группа</th>
				<th onclick="sortTable(3)">Рейтинг</th>
			</tr>
		</thead>
		<tbody id="table">
			<% @users.each do |user| %>
				<tr id="id<%=user.id%>">
					<td>
						<%= user.lastName %>
						<%= user.firstName %>
						<%= user.fathersName %>
					</td>
					<td><%= user.school %></td>
					<td><%= user.group %></td>
					<td><span id="rating<%= user.id %>"></span><span id="cfhandle<%= user.id %>" style="display: none;"><%= user.cfhandle %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
