<p>
  <%= current_user.lastName %>&nbsp;<%= current_user.firstName %>&nbsp;<%= current_user.fathersName %>
</p>

<% if current_user.born != nil %>
<p>
  Дата рождения:&nbsp;<%= current_user.born.strftime('%d.%m.%Y') %>
</p>
<% end %>


<p>
  <%= current_user.school %>,&nbsp;<%= current_user.group %>
</p>

<p>
  E-mail:&nbsp;<%= current_user.email %>
</p>

<p>
  Телефон:&nbsp;<%= current_user.phoneNumber %>
</p>

<p>
  Размер футболки:&nbsp;<%= current_user.teeSize %>
</p>


<%= link_to 'Back', events_path %>  
