<% if is_admin? %>
<%= link_to 'Новое мероприятие', new_event_path, :class => 'btn btn-primary' %>
<% end %>

<h1>Все грядущие и текущие мероприятия:</h1>
 
<table class = "listing events">
	<tr>
		<th>Название</th>
		<th>Тип</th>
		<th>Даты</th>
		<th>Место проведения</th>
		<th></th>
		<% if is_admin? %>
			<th></th>
		<% end %>
	</tr>
 
	<% @events.reject{|event| event.dateEnd < Date.today}.sort_by{|event| event.dateStart}.each do |event| %>
		<tr>
			<td><%= event.eventTitle %></td>
			<td>
				<% if event.eventType == "contest" %>
					Соревнование
				<% else %>
					Сборы
				<% end %>
			</td>
			<td>
				<%= event.dateStart.strftime('%d.%m.%Y') %>
				<% if event.dateStart != event.dateEnd %>
					&nbsp;&mdash;&nbsp;<%= event.dateEnd.strftime('%d.%m.%Y') %>
				<% end %>
			</td>
			<td><%= event.eventPlace %></td>
			<td><%= link_to 'Подробно', event_path(event) %></td>
			<% if is_admin? %>
				<td>
					<%= link_to edit_event_path(event) do %>
						<span class="glyphicon glyphicon-edit"></span>
					<% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>

<h1>Все прошедшие мероприятия:</h1>

<table class = "listing events" >
	<tr>
		<th>Название</th>
		<th>Тип</th>
		<th>Даты</th>
		<th>Место проведения</th>
		<th></th>
		<% if is_admin? %>
			<th></th>
		<% end %>
	</tr>
	<% @events.reject{|event| event.dateEnd >= Date.today}.sort_by{|event| event.dateStart}.each do |event| %>
		<tr>
			<td><%= event.eventTitle %></td>
			<td>
				<% if event.eventType == "contest" %>
					Соревнование
				<% else %>
					Сборы
				<% end %>
			</td>
			<td>
				<%= event.dateStart.strftime('%d.%m.%Y') %>
				<% if event.dateStart != event.dateEnd %>
					&nbsp;&mdash;&nbsp;<%= event.dateEnd.strftime('%d.%m.%Y') %>
				<% end %>
			</td>
			<td><%= event.eventPlace %></td>
			<td><%= link_to 'Подробно', event_path(event) %></td>
			<% if is_admin? %>
				<td>
					<%= link_to edit_event_path(event) do %>
						<span class="glyphicon glyphicon-edit"></span>
					<% end %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
