<p>
  <h1><%= @event.eventTitle %></h1>
  <% if @event.eventTitle == 'camp' %>
    (Сборы)
  <% else %>
    (Соревнование)
  <% end %>
</p>

<p>
  <%= @event.dateStart.strftime('%d.%m.%Y') %>
  <% if @event.dateStart != @event.dateEnd %>
    &nbsp;&mdash;&nbsp;<%= @event.dateEnd.strftime('%d.%m.%Y') %>
  <% end %>
</p>
 
<p>
  <%= @event.eventPlace %>
</p>
 
<p>
  <%= @event.eventDescription %>
</p>


<%= link_to 'Back', events_path %> 
