<% if is_admin? %>
	<%= link_to 'Редактировать', edit_event_path(@event), :class => 'btn btn-primary' %>
<% end %>

<div class="profile">
	<h1><%= @event.eventTitle %></h1>
	<p style="text-align: center;">
		<% if @event.eventType == "contest" %>
			(Соревнование для
		<% else %>
			(Сборы для
		<% end %>
		<% if @event.schoolType == "school" %>
			школьников)
		<% else if @event.schoolType == "higher" %>
			студентов)
		<% else %>
			всех)
		<% end end %>
	</p>

	<p>
	<strong>Даты проведения:</strong>
	<%= @event.dateStart.strftime('%d.%m.%Y') %>
	<% if @event.dateStart != @event.dateEnd %>
		&nbsp;&mdash;&nbsp;<%= @event.dateEnd.strftime('%d.%m.%Y') %>
	<% end %>
	</p>
	
	<p>
	<strong>Место проведения:</strong>
	<%= @event.eventPlace %>
	</p>
	
	<p>
	<strong>Количество человек в команде:</strong>
	<%= @event.teamMinSize %>
	<% if @event.teamMinSize < @event.teamMaxSize %>
	&mdash; <%= @event.teamMaxSize %>
	<% end %>
	</p>
	
	<p>
	<strong>Описание:</strong><br/>
	<%= @event.eventDescription %>
	</p>
	
	<p style="color:green;">
	<% if logged_in? and @event.dateStart > Date.tomorrow %>
		<% if @event.users.include?(current_user) %>
			Вы зарегистрированы на это мероприятие с командой <%= link_to ((@event.teams & current_user.teams).first().teamTitle), team_path((@event.teams & current_user.teams).first())%> </strong>
		<% else %>
			<%= link_to 'Регистрация', events_register_path(@event) %></td>
		<% end %>
	<% end %>
	</p>
	
	<strong>Список зарегистрированных команд:</strong>
	<table class = "listing teams">
		<tr>
			<th>Название</th>
			<th>Участники</th>
		</tr>
		<% if @event.teams.length > 0 %>
			<% @event.teams.each do |team| %>
				<tr>
					<td><%= team.teamTitle %></td>
					<td>
						<%= team.users.map { |u| u.lastName }.join ', ' %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>

	<% if @event.eventResults != nil %> 
		<p>
			<strong>Результаты:</strong><br/>
			<div>
				<%= @event.eventResults.html_safe %>
			</div>
		</p>
	<% end %>
</div>

<%= link_to 'Назад', events_path, :class => 'btn btn-primary' %> 
